[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "RxSwift"]
	path = RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
[submodule "Swiftz"]
	path = Swiftz
	url = https://github.com/typelift/Swiftz.git
[submodule "FlickrKit"]
	path = FlickrKit
	url = https://github.com/devedup/FlickrKit.git
[submodule "RxDataSources"]
	path = RxDataSources
	url = https://github.com/RxSwiftCommunity/RxDataSources.git
[submodule "Gloss"]
	path = Gloss
	url = https://github.com/hkellaway/Gloss.git
