[submodule "RxAlamofire"]
	path = RxAlamofire
	url = https://github.com/RxSwiftCommunity/RxAlamofire.git
[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "RxSwift"]
	path = RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
